/* xs */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
   
    min-height: 1500px;
    
}
p{
 
    font-size: 16px;
    color: #abadaf;
    line-height: 25px;

}

.header{
    background-color: #1d2126;
    position: sticky;
    display: flex;
    align-items: center;
    top:0;
    height: 80px;
    z-index: 2;
    
}

.footer{
    background-color: #1d2126;
    /* position: sticky; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 90px;
    /* z-index: 2; */
    
}
.footer-row{
    justify-content: space-between;
}

.footer .Copyright{
    color: white;
}

/* .footer .social-row div{
    width: 10px;
    height: 10px;
} */
.social-row{
    display: flex;

}
.social-row a{
    display: block;
    
}


.conteiner{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    
}

[class*="col-"]{
    padding-left: 15px;
    padding-right: 15px;
}

.menu a{
    font-size: 14px;
    color: #a4aead;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 4px;


}
.menu{
    display: flex;
    overflow-x: auto;
      
   
 
   
}
.menu li a{
    padding: 0px 5px;  
}

.menu li {
    padding: 5px 5px 5px 0px;  
}
.menu #home{
    border: 2px solid #23b7a3;
    color: #23b7a3;
}

.menu a:hover{
   
    border: 2px solid #a4aead;
    color: #23b7a3;
    
}

.search{
   width: 100%;
   
}

.search input{
    height: 25px;
    width: 100%;
    border: 2px solid #5a6068;
    border-radius: 5px;
    background-color: transparent;
    background:url(img/search.png);
    background-position: 110% 50%;
    background-repeat: no-repeat;
    color: #5f5f5f;
    
}
.search input:active{
    background-image: none;
}
.search input:focus{
    background-image: none;
}


.slide-conteiner{
 background: url(img/slide.png);
 background-position: 75%;
 height: 660px;

 
}

.slide-conteiner a{
    display: block;
    width: 125px;
    height: 45px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #fdfdfd;
    text-decoration: none;
    font-weight: 700;
     padding: 10px 0px; 
    margin-right: 10px;
    text-align: center;

}

.slide-conteiner a:hover{
    
    border: 2px solid#39a493;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #39a493;

}

 .slide-conteiner p{
    text-align: left;
    margin: 30px 0px; 

 
} 
.row-slide{
    justify-content: space-between;
    height: 660px;
}



.row-slider-item{
   
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    
}

.row-slider-item div:nth-child(2){
    background-color: #fff;
}

.row-slider-item div{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    margin: 2px;
    
    }

    .slide-conteiner .column:nth-child(2){
        align-self: flex-end;
    }
    .slide-conteiner .link{
        margin: 15px;
    }

    .row-slide h1{

      color: white;
        
    }
   
    .row-slide .Welcome{
       
        font-size: 36px;
  
    }
    

/* We Are MODEST */
.weAreModest-conteiner{
    display: flex;
    flex-wrap: wrap;
   
}
.weAreModest-conteiner p{
  margin-top: 10px;
   
}

.weAreModest-conteiner .block-squere{
    display: flex;
    margin: 0px 0px 30px ;
}
.block-squere .squere div{
    width: 50px;
    height: 50px;
    color: white;
    background-color: #23b7a3;
    text-align: center;
    line-height: 3;    
}

.block-squere .squere{
    margin-right: 15px;
}
.block-squere h2{
text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0px;
  
}



.weAreModest{
    border-bottom: 1px solid #dde1e4;
   
}
.block{
   display: flex;
   margin: 0px 0px 80px 0px;
}

.block{
    background-color: #ffffff;
}
.darkstyle{
background-color: #3a454d;
}
.darkstyle h1{
   color:#ffffff
    }



.block h1{
    margin: 80px 0px;
    border-left: 8px solid #e1e6ea;
    padding-left: 15px;
    text-transform: uppercase;
    font-size: 36px;
}
 
.row-social div{
    width: 61px;
    height: 61px;
    margin: 1px;
  
}

.row-social a{
    display: block;
}
 .row-social .facebook{ 
    background: url(img/facebook.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #C8CDD0;
}

.row-social .tweeter{ 
    background: url(img/tweeter.png);
        background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #C8CDD0;
}

.row-social .google-plus{ 
    background: url(img/google.png);
        background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #C8CDD0;
}
.row-social .dribbble{ 
        background: url(img/drebbble.png);
        background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #C8CDD0;
} 
.row-social .behance{ 
        background: url(img/Be.png);
        background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #C8CDD0;
} 
.row-social{
    margin: 10px 0px;
}
 

/* TEAMS */

.team-coneiner{
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
  
}

.row-social-team div{
    width: 50px;
    height: 50px;
    margin: 1px;
  
}





.row-social-team a{
    /* width: 50px;
    height: 50px; */
    background-color: #3a454d;
    display: block;
}

 .row-social-team {
     display: none;
    position: absolute;
    padding: 125px 0px;
} 



.row-social-team a{
    width: 100%;
    display: block;
}

.people{
    width: 263px;
    height: 300px;
}
.descriptions{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: left;
}

.descriptions .name{
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 700git ;
}


.team-coneiner:hover .row-social-team{
 display: flex;
}

.team-coneiner:hover .people{
    opacity: 0.6;
   }

   .team-coneiner:hover .descriptions{
   background-color: #3a454d;
   }
   .team-coneiner:hover .descriptions .name{
    color: #ffffff;
    }


   .team-coneiner {
    width: 263px;
    height: 375px;
 margin: auto;
    background-color: #e1e6ea;
   }

.work-coneiner{

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


.img{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.img .name{
    display: none;
    position: absolute;
    width: 360px;
    height:60px;
    background-color: #292f36;
    color:#ffffff;

}
/* .img:hover .name{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img:hover .galery{
    opacity: 0.6;
} */



.addToGalery{
    display: none;
    position: absolute;
}
 .work-coneiner:hover .addToGalery{
    
    display: flex;
} 

.work-coneiner:hover .name{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
} 
.work-coneiner:hover .galery{
    
    opacity: 0.6;
}


.showMeMore{
    display: flex;
    justify-content: center;
}
.showMeMore input{
    color: white;
    width: 150px;
    height: 45px;
    border-radius: 4px;
    background: none;
    border: 2px solid white;
    text-align: center;
    margin: 50px 0px;
}
.showMeMore input:hover{
   
    border: 2px solid #23b7a3;
    cursor: pointer;
}

/* whatWeDo */

.whatWeDo-coneiner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    height: 300px;
    margin-bottom: 40px;
    
}
.whatWeDo-coneiner h3{
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #292f36;
}
.whatWeDo-coneiner p{
    text-align: center;
}

.conteiner-features{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 440px;
    margin-bottom: 25px;

}

.conteiner-features h3{
   
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}
.conteiner-features p{
    text-align: left;
    
    
 
}

/* stayInTouch */
.stayInTouch{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.contact p{
margin: 15px 0px;
}
.contact h4{
    margin: 15px 0px;
    }

    .maps{
        overflow: auto;
    }



/* mobile menu  */

@media (max-width:767px){
    .nav-mobile-menu{
        display: block;
        width: 15px;
        height: 15px;
        position: relative;
    }
    .nav-mobile-menu span{
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        transition: 0.25s ease-in-out;
    }
    .nav-mobile-menu span:first-child{
        top:3px;
    }
    .nav-mobile-menu span:nth-child(2){
        top:7px;
    }
    .nav-mobile-menu span:last-child{
        bottom:3px;
    }
    .navigation{
        position: fixed;
        top:0;
        right: 0;
        width: 280px;
        max-width: 280px;
        transform: translateX(150%);
        transition: all 500 ms ease-in-out;
    }
    .hiden-menu{
        opacity :0px;
        visibility: hidden;
    }
    .search{
        display: none;
    }

    .nav-mobile-menu.active-menu span:first-child{
        top:50%;
        transform: rotate(45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(2){
        top: 50%;
        transform: rotate(-45deg);
    }
    .nav-mobile-menu.active-menu span:last-child{
        transform: scale(0);
    }
    .navigation.active-menu{
        opacity: 1;
        visibility: visible;
        top: 34px;
        transform: translateX(0);
        padding: 25px;
        background-color: #1d2126;
    }
    .navigation.navigation.active-menu .menu{
        flex-direction: column;
    }
    header .header-row{
        flex-direction: row;
        justify-content: space-between;

    }
}

.autorization{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.3);

}

.autorization-window{
   
        width: 300px;
        margin: 80px auto;
        height: 200px;
        border: 1px solid grey;
        padding: 15px;
        background-color: #fff;
  
}

.form-fields{
    margin: 10px 0;
}

.form-fields input{
    width: 100%;
    height: 30px;
    padding: 5px;
}

.btn-close{
    text-align: right;
    cursor: pointer;
}

.hide{
    display: none;
}
.show{
    display: block;
}

.form{
    position: fixed;
    padding: 10px;
    background-color: #ffffff;
    /* position: relative; */
    bottom: 120px;
    /* height: 155px; */
    /* width: 100%; */
    max-width: 550px;
    height: auto;
    width: inherit;
    
}
#message{
    width: 100%;
}
.row-form{
    display: flex;
    justify-self: center;
}

.name,.email{
    width: 45%;
    height: 45px;


    display: flex;
    flex-direction: column;
    height: auto;
}


.form input{
    
background-color: #eaeef1;
border-radius: 5px;
height: 45px;
width: 100%;
border:transparent;


}


.form button{
    color: white;
    background-color: #23b7a4;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 10px;
    width: 145px;
    height: 45px;
}

.openmodal button{
    color: white;
    background-color: #23b7a4;
    border-radius: 5px;
    width: 145px;
    height: 45px;
}

.message-text input{
    height: 145px;
}



.btn-close-message{
    
      display: inline-block;  
    
        
}





.col-xs-12{
    flex:0 0 100%;
    max-width: 100%;
}

/* sm */
@media(min-width:768px){
    .conteiner{
        max-width: 720px;
    }
    .search input{
        width: 150px;
        position: absolute;
        top:40px;
        right: 80px;
        
    }

    .col-sm-6{
        flex: 0 0 50%;
        max-width: 50%;
    }

}

/* .slide-conteiner{
   
} */



/* md */
@media(min-width:992px){
    .conteiner{
        max-width: 960px;
    }
    
  
    .col-md-5{
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-4{
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    .col-md-3{
        flex:0 0 25%;
        max-width: 25%;
    }
    .col-md-7{
        flex:0 0 58.333%;
        max-width: 58.333%;
    }

    .col-md-6{
        flex:0 0 50%;
        max-width: 50%;
    }
    .col-md-2{
        flex:0 0 16.6667%;
        max-width: 16.6667%;
    }

    .menu{
        display: flex;
        justify-content: space-between;
    }
    .menu li a{
        display: block;
        padding: 9px;
    }

    .search input{
        position: static;
            width: 100%;
    }
    
    
}

/* lg */
@media(min-width:1200px){
    .conteiner{
        max-width: 1140px;
    }

.form{
    width: 550px;
    
}
}
/* only mobile -xs */
@media(max-width:767px){
   .header-row{
       flex-direction: column;
       align-items: center;
   }
   
}


